@model List<Book>
@using database2.Extension
@{
    ViewData["Title"] = "รายการหนังสือ";
}

<h1>รายการหนังสือ</h1>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Book" asp-action="AddBook" class="btn btn-success">เพิ่มหนังสือใหม่</a>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(m => m[0].BookType)
        </th>

        @if (User.Identity.IsAuthenticated)
        {
            <th>
                (คำสั่ง)
            </th>
        }
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(m => item.Id)
    </td>
    <td>
        @Html.DisplayFor(m => item.Name)
    </td>
    <td>
        @Html.DisplayFor(m => item.Price)
    </td>
    <td>
        @item.BookType.GetDisplayName()
    </td>
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        <td>
            <a asp-controller="Book" asp-action="BookEdit" asp-route-Id="@item.Id">แก้ไข</a>
            @if (User.IsInRole("Administrator"))
            {
            <a asp-controller="Book" asp-action="BookDelete" asp-route-Id="@item.Id">ลบทิ้ง</a>
            }
        </td>
            
    }
</tr>
    }
</table>